.year-box-wrapper {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 4px;
  top: 2px;
}

.year-box {
  width: 10%;
  height: 7%;
  border-radius: 2px;
  position: absolute;
  background-color: transparent;
  border: .5px solid rgb(147, 93, 201);
  left: 45%;
  top: 46.5%;
  transition: background-color 0.2s linear;
}

.current-year {
  position: absolute;
  font-size: 18px;
  text-align: center;
  transform: translate(40px, 44px);
  font-weight: bolder;
  color: rgb(147, 93, 201);
}

.title {
  color: rgb(147, 93, 201);
  font-size: 16px;
  transform: translate(38px, -50px);
  text-align: center;
  font-weight: bold;
  position: absolute;
}
