app-pie-chart {
  position: absolute;
}

app-line-chart {
  position: absolute;
}

app-map-element {
  position: absolute;
}

.textLabel {
  position: absolute;
  text-align: center;
}

.textLabel>p {
  margin: 4px;
}