<div cdkDrag (cdkDragReleased)="onLabelDragEnd($event)" #textLabel class="textLabel">
  <p>{{ year }}</p>
  <p>{{ scenario.name.toUpperCase() }}</p>
</div>


<app-map-element cdkDrag (cdkDragReleased)="onMapDragEnd($event)" #map [mapLayers]="planLayers" [planService]="planService" [size]="mapSize" [baseImage]="baseImageURL"
  [bounds]="mapBounds"></app-map-element>

<app-pie-chart cdkDrag (cdkDragReleased)="onPieDragEnd($event)" #pieChart [size]="pieSize" [title]="pieTitle"
  [legend]="pieLegend" [fontSize]="pieFontSize" [data]="pieData"></app-pie-chart>

<app-line-chart cdkDrag (cdkDragReleased)="onLineDragEnd($event)" #lineChart [size]="lineSize" [title]="lineTitle"
  [legend]="lineLegend" [fontSize]="lineFontSize" [data]="pieData"></app-line-chart>
