app-map-element {
  position: absolute;
  border: solid white 3px;
}

app-layer-info {
  position: absolute;
  right: 5rem;
  bottom: 1rem;
  width: 750px;
  height: 50vh;
}

app-layer-list {
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translate(0, -50%);
}
