<router-outlet></router-outlet>

<div class="button-list">
  <button style="margin: 0.25rem; width: 8rem;" (click)="shiftLeft()">Puck Window Left</button>
  <br>
  <button style=" margin: 0.25rem; width: 8rem;" (click)="shiftRight()">Puck Window Right</button>
  <br>
  <button style="margin: 0.25rem; width: 8rem;" (click)="left()">Left</button>
  <br>
  <button style=" margin: 0.25rem; width: 8rem;" (click)="right()">Right</button>
  <br>
  <button style=" margin: 0.25rem; width: 8rem;" (click)="calibration()">Calibration</button>
  <br>
  <button style=" margin: 0.25rem; width: 8rem;" (click)="mainView()">Main View</button>
  <br>
  <button style=" margin: 0.25rem; width: 8rem;" (click)="planSelection()">Plan Selection</button>
  <br>
  <button style=" margin: 0.25rem; width: 8rem;" (click)="mainMenu()">Main Menu</button>
  <br>
  <button style=" margin: 0.25rem; width: 8rem;" (click)="restart()">Restart</button>
</div>

<div class="right-edge"></div>
