.right-edge {
    width: 4px;
    right: 0px;
    height: 100vh;
    top: 0px;
    position: absolute;
    background-color: white;;
}

.button-list {
    position: absolute; 
    left: 1rem; 
    top: 1rem;
    z-index: 1000;
}

.button-list > button {
    margin: 2px;
}