/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

colors {
  color: #00D2FF;
  color: #52FF00;
  color: #FF2D00;
  color: #AD00FF;
}